<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main.html</title>
</head>
<body>
    <h1>main page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum amet corrupti quas accusantium atque quos maiores laudantium, necessitatibus iste fuga quasi consectetur nisi voluptatibus odit reiciendis. Cum fugiat reiciendis culpa.</p>
    <img src="image/6055a337-950e-41cf-b661-2f5800599053.jpg" alt="" width="300px;">
    <script src="main.js"></script>
</body>
</html>