<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main.html</title>
</head>
<body>
    <h1>main page</h1>
    <h3>welcome, <%= id %> 번째 가입고객님</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum amet corrupti quas accusantium<br/> atque quos maiores laudantium, necessitatibus iste fuga quasi consectetur <br/>nisi voluptatibus odit reiciendis. Cum fugiat reiciendis culpa.</p>
    <div><a href="/logout">logout</a></div>
</body>
</html>